<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>拼图后台管理-后台管理</title>
<link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
<link rel="stylesheet" href="/Public/Admin/css/admin.css">
<script src="/Public/Admin/js/jquery.js"></script>
<script src="/Public/Admin/js/pintuer.js"></script>
<script src="/Public/Admin/js/respond.js"></script>
<script src="/Public/Admin/js/admin.js"></script>
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link href="/favicon.ico" rel="bookmark icon" />
</head>

<body>
<div class="lefter">
  <div class="logo"><a href="#" target="_blank"><img src="/Public/Admin/images/logo.png" alt="后台管理系统" /></a></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
  <div class="mainer">
    <div class="admin-navbar"> <span class="float-right"> <a class="button button-little bg-main" href="#">前台首页</a> <a class="button button-little bg-yellow" href="login.html">注销登录</a> </span>
      <ul class="nav nav-inline admin-nav">
        <li><a href="index.html" class="icon-home"> 开始</a>
          <ul>
            <li><a href="system.html">系统设置</a></li>
            <li><a href="content.html">内容管理</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="active"><a href="#">会员管理</a></li>
            <li><a href="#">文件管理</a></li>
            <li><a href="#">栏目管理</a></li>
          </ul>
        </li>
        <li class="active"><a href="system.html" class="icon-cog"> 系统</a>
          <ul>
            <li><a href="#">全局设置</a></li>
            <li class="active"><a href="#">系统设置</a></li>
            <li><a href="#">会员设置</a></li>
            <li><a href="#">积分设置</a></li>
          </ul>
        </li>
        <li><a href="content.html" class="icon-file-text"> 内容</a>
          <ul>
            <li><a href="#">添加内容</a></li>
            <li class="active"><a href="#">内容管理</a></li>
            <li><a href="#">分类设置</a></li>
            <li><a href="#">链接管理</a></li>
          </ul>
        </li>
        <li><a href="#" class="icon-shopping-cart"> 订单</a></li>
        <li><a href="#" class="icon-user"> 会员</a></li>
        <li><a href="#" class="icon-file"> 文件</a></li>
        <li><a href="#" class="icon-th-list"> 栏目</a></li>
      </ul>
    </div>
    <div class="admin-bread"> <span>您好，admin，欢迎您的光临。</span>
      <ul class="bread">
        <li><a href="index.html" class="icon-home"> 开始</a></li>
        <li><a href="system.html">设置</a></li>
        <li>系统设置</li>
      </ul>
    </div>
  </div>
</div>
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>分类管理</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">添加分类</a></li>
      </ul>
    </div>
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="post" class="form-x" action="index.php?c=Category&a=editok">
          <div class="form-group">
            <div class="label">
              <label for="sitename">分类名称</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="name" name="name" size="50" placeholder="分类名称" data-validate="required:请填写您的分类名称" value="{$row['name']}" />
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="sitename">所属类别</label>
            </div>
            <div class="field">
              <select name="pid" class="select">
                  <option value="0">主类别</option>
                  {foreach from=$data item='rs'}
                  <option value="{$rs['cateid']}" {if $row['pid'] == $rs['cateid']}selected="selected"{/if}>{$rs['name']|indent:($rs['level']*10):'&nbsp;'}</option>
                  {/foreach}
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="readme">分类描述</label>
            </div>
            <div class="field">
              <textarea name="remark" class="input" rows="5" cols="50" placeholder="请填写分类描述" data-validate="required:请填写分类描述">{$row['remark']}</textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="siteurl">排序</label>
            </div>
            <div class="field">
              <input type="text" class="input" id="sort" name="sort" size="50" placeholder="请填写排序编号" data-validate="required:请填写排序编号" value="{$row['sort']}" />
            </div>
          </div>
          <div class="form-button">
            <input type='hidden' name='id' value='{$row["cateid"]}' />
            <button name="submit" class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:40px; border-bottom:1px #DDD solid'></div>
  <p class="text-left text-gray" style="float:left">版权<a class="text-gray" target="_blank" href="#">归http://www.ticast.cn</a>所有</p>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">拼图前端框架</a>构建</p>
</div>
</body>
</html>